@font-face {
  font-family: "kharazmi";
  src: url("../../public/font/IRAN-Kharazmi.ttf");
}
@font-face {
  font-family: "iranSemiBold";
  src: url("../../public/font/IRAN_SemiBold.ttf");
}
@font-face {
  font-family: "iran";
  src: url("../../public/font/IRAN.ttf");
}
@font-face {
  font-family: "iranBlack";
  src: url("../../public/font/IRANBlack.ttf");
}
@font-face {
  font-family: "iranbold";
  src: url("../../public/font/IRANBold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  font-family: "iran";
}

html, body, #root {
  height: 100%;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ad1414;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.login .box {
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  align-items: center;
  justify-content: space-around;
}
.login .box fieldset {
  display: flex;
  flex-direction: column;
  border: 0px;
  margin: 10px 0px;
}
.login .box fieldset label {
  font-size: 12pt;
  color: #444444;
  margin: 5px 0px;
}
.login .box fieldset input {
  border-radius: 10px;
  border: 1px #444444 solid;
  height: 30px;
  width: 220px;
}
.login .box fieldset input:focus {
  outline: 1px #444444 solid;
}
.login .box button {
  width: 220px;
  background: #291c63;
  color: #ffffff;
  height: 30px;
  border: 0px;
  border-radius: 10px;
  margin: 10px 0px;
}
.login .box .forget {
  color: #291c63;
  font-size: 8pt;
  cursor: pointer;
  text-align: right;
  align-self: flex-start;
  margin: 10px 25px;
}

.desk {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.desk nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background: #ad1414;
  border-bottom: 1px #ad1414 solid;
}
.desk nav button {
  border: 0px;
  flex: 1;
  background: #ad1414;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.desk nav button:hover {
  background: #ffffff;
  color: #444444;
}
.desk .panle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desk .panle .NoDivce {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.desk .panle .NoDivce span {
  color: #ad1414;
  font-size: 28pt;
}
.desk .panle .NoDivce p {
  color: #291c63;
  font-size: 14pt;
  text-align: center;
}
.desk .panle .add {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 30px;
  margin-top: 50px;
  background: #31b317;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.desk .panle .add p {
  color: #ffffff;
}
.desk .panle .add span {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: absolute;
  inset: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup .clsclc {
  position: absolute;
  inset: 0px;
}
.popup .win {
  width: 450px;
  background: rgba(173, 20, 20, 0.03);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  border: 1px #444444 solid;
  padding: 10px 0px;
}
.popup .win fieldset {
  width: 80%;
  border: 0px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup .win fieldset input {
  border-radius: 10px;
  border: 1px #444444 solid;
  height: 30px;
  width: 220px;
  text-align: center;
}
.popup .win fieldset input:focus {
  outline: 1px #444444 solid;
}
.popup .win fieldset label {
  color: #444444;
}
.popup .win button {
  width: 220px;
  background: #291c63;
  color: #ffffff;
  height: 30px;
  border: 0px;
  border-radius: 10px;
  margin: 10px 0px;
}

.listDevice {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  margin: 25px;
}
.listDevice .Device {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(41, 28, 99, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px rgba(41, 28, 99, 0.2) solid;
}
.listDevice .Device > span {
  font-size: 30px;
  color: #ad1414;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listDevice .Device .action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listDevice .Device .action > span {
  font-size: 15pt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ad1414;
  cursor: pointer;
}

.live {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
.live .camlist {
  width: 200px;
  background: rgba(41, 28, 99, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.live .camlist .dvc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border: 1px rgba(68, 68, 68, 0.12) solid;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
}
.live .camlist .dvc span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18pt;
  color: #291c63;
}
.live .camlist .dvc:hover {
  background: rgba(68, 68, 68, 0.2);
}
.live .camlist .dvcslc {
  background: #291c63;
}
.live .camlist .dvcslc span {
  color: #ffffff;
}
.live .camlist .dvcslc p {
  color: #ffffff;
}
.live .NoDivce {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.live .NoDivce span {
  font-size: 18pt;
  color: #ad1414;
}/*# sourceMappingURL=style.css.map */