@font-face {
    font-family: 'kharazmi';
    src: url('../../public/font/IRAN-Kharazmi.ttf');
}
@font-face {
    font-family: 'iranSemiBold';
    src: url('../../public/font/IRAN_SemiBold.ttf');
}
@font-face {
    font-family: 'iran';
    src: url('../../public/font/IRAN.ttf');
}
@font-face {
    font-family: 'iranBlack';
    src: url('../../public/font/IRANBlack.ttf');
}
@font-face {
    font-family: 'iranbold';
    src: url('../../public/font/IRANBold.ttf');
}




$colorRed1: #ad1414;
$colorFFF: #ffffff;
$colorTosi: #444444;
$colorBlue: #291c63;
$colorGreen: #31b317;

*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: 'iran';
}

html,body,#root{
    height: 100%;
}

@mixin inp(){
    border-radius: 10px;
    border: 1px $colorTosi solid;
    height: 30px;
    width: 220px;
    &:focus{
        outline: 1px $colorTosi solid;
    }
}

@mixin Sbm(){
    width: 220px;
    background: $colorBlue;
    color: $colorFFF;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    margin: 10px 0px;
}

.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $colorRed1;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    .box{
        width: 300px;
        background: $colorFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-items: center;
        justify-content: space-around;
        fieldset{
            display: flex;
            flex-direction: column;
            border: 0px;
            margin: 10px 0px;
            label{
                font-size: 12pt;
                color: $colorTosi;
                margin: 5px 0px;
            }
            input{
                @include inp()

            }
        }
        button{
            @include Sbm()
        }
        .forget{
            color: $colorBlue;
            font-size: 8pt;
            cursor: pointer;
            text-align: right;
            align-self: flex-start;
            margin: 10px 25px;
        }
    }
}


.desk{
    display: flex;
    flex-direction: column;
    height: 100%;
    nav{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        background: $colorRed1;
        border-bottom: 1px $colorRed1 solid;
        button{
            border: 0px;
            flex: 1;
            background: $colorRed1;
            color: $colorFFF;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: $colorFFF;
                color: $colorTosi;
            }
        }
    }
    .panle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .NoDivce{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 25px;
            span{
                color: $colorRed1;
                font-size: 28pt;
            }
            p{
                color: $colorBlue;
                font-size: 14pt;
                text-align: center;
            }
        }
        .add{
            display: flex;
            flex-direction: row;
            width: 220px;
            height: 30px;
            margin-top: 50px;
            background: $colorGreen;
            align-items: center;
            justify-content: center;
            padding: 5px 20px;
            border-radius: 10px;
            cursor: pointer;
            p{
                color: $colorFFF;
            }
            span{
                color: $colorFFF;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}

.popup{
    position: absolute;
    inset: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .clsclc{
        position: absolute;
        inset: 0px;
    }
    .win{
        width: 450px;
        background: mix($colorRed1,$colorFFF,1);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 15px;
        border: 1px $colorTosi solid;
        padding: 10px 0px;
        fieldset{
            width: 80%;
            border: 0px;
            margin: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input{
                @include inp();
                text-align: center;
            }
            label{
                color: $colorTosi;
            }
        }
        button{
            @include Sbm()
        }
    }
}


.listDevice{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: 25px;
    .Device{
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: rgba($colorBlue, 0.1);
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px rgba($colorBlue, 0.2) solid;
        >span{
            font-size: 30px;
            color: $colorRed1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .action{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >span{
                font-size: 15pt;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $colorRed1;
                cursor: pointer;
            }
        }

        
    }
}


.live{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    .camlist{
        width: 200px;
        background: rgba($colorBlue, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        .dvc{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            border: 1px rgba($colorTosi,0.12) solid;
            margin-top: 15px;
            padding:5px;
            border-radius: 5px;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18pt;
                color: $colorBlue;
            }
            &:hover{
                background: rgba($colorTosi,0.20);
            }
        }
        .dvcslc{
            background: $colorBlue;
            span{
                color: $colorFFF;
            }
            p{
                color: $colorFFF;
            }
        }
    }
    .NoDivce{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        span{
            font-size: 18pt;
            color: $colorRed1;

        }
    }

}

.liveBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    .monitor{
        display: flex;
        flex-direction: row-reverse;
        height: 450px;
        flex: 2;
        margin: 10px;
        .respo{
            flex: 1;
        }
        img{
            flex: 1;
            border-radius: 10px;
        }

    }
    .detile{
        flex: 1;
    }
}