@font-face {
    font-family: 'kharazmi';
    src: url('../../public/font/IRAN-Kharazmi.ttf');
}
@font-face {
    font-family: 'iranSemiBold';
    src: url('../../public/font/IRAN_SemiBold.ttf');
}
@font-face {
    font-family: 'iran';
    src: url('../../public/font/IRAN.ttf');
}
@font-face {
    font-family: 'iranBlack';
    src: url('../../public/font/IRANBlack.ttf');
}
@font-face {
    font-family: 'iranbold';
    src: url('../../public/font/IRANBold.ttf');
}




$colorRed1: #ad1414;
$colorFFF: #ffffff;
$colorTosi: #444444;
$colorBlue: #291c63;
$colorGreen: #31b317;

*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: 'iran' !important;

}

html,body,#root{
    height: 100%;
}

@mixin inp(){
    border-radius: 10px;
    border: 1px $colorTosi solid;
    height: 30px;
    width: 220px;
    &:focus{
        outline: 1px $colorTosi solid;
    }
}

@mixin Sbm(){
    width: 220px;
    background: $colorBlue;
    color: $colorFFF;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    margin: 10px 0px;
}

.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $colorRed1;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    .box{
        width: 300px;
        background: $colorFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-items: center;
        justify-content: space-around;
        fieldset{
            display: flex;
            flex-direction: column;
            border: 0px;
            margin: 10px 0px;
            label{
                font-size: 12pt;
                color: $colorTosi;
                margin: 5px 0px;
            }
            input{
                @include inp()

            }
        }
        button{
            @include Sbm()
        }
        .forget{
            color: $colorBlue;
            font-size: 8pt;
            cursor: pointer;
            text-align: right;
            align-self: flex-start;
            margin: 10px 25px;
        }
    }
}


.desk{
    display: flex;
    flex-direction: column;
    height: 100%;
    nav{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        background: $colorRed1;
        border-bottom: 1px $colorRed1 solid;
        button{
            border: 0px;
            flex: 1;
            background: $colorRed1;
            color: $colorFFF;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: $colorFFF;
                color: $colorTosi;
            }
        }
    }
    .panle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .NoDivce{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 25px;
            span{
                color: $colorRed1;
                font-size: 28pt;
            }
            p{
                color: $colorBlue;
                font-size: 14pt;
                text-align: center;
            }
        }
        .add{
            display: flex;
            flex-direction: row;
            width: 220px;
            height: 30px;
            margin-top: 50px;
            background: $colorGreen;
            align-items: center;
            justify-content: center;
            padding: 5px 20px;
            border-radius: 10px;
            cursor: pointer;
            p{
                color: $colorFFF;
            }
            span{
                color: $colorFFF;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}



.listDevice{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: 25px;
    .Device{
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: rgba($colorBlue, 0.1);
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px rgba($colorBlue, 0.2) solid;
        >span{
            font-size: 30px;
            color: $colorRed1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .action{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >span{
                font-size: 15pt;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $colorRed1;
                cursor: pointer;
            }
        }

        
    }
}


.live{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    .camlist{
        width: 200px;
        background: rgba($colorBlue, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        .dvc{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            border: 1px rgba($colorTosi,0.12) solid;
            margin-top: 15px;
            padding:5px;
            border-radius: 5px;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18pt;
                color: $colorBlue;
            }
            &:hover{
                background: rgba($colorTosi,0.20);
            }
        }
        .dvcslc{
            background: $colorBlue;
            span{
                color: $colorFFF;
            }
            p{
                color: $colorFFF;
            }
        }
    }
    .NoDivce{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        span{
            font-size: 18pt;
            color: $colorRed1;

        }
    }

}

.liveBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    .monitor{
        display: flex;
        flex-direction: row-reverse;
        height: 450px;
        flex: 2;
        margin: 10px;
        .respo{
            flex: 1;
            display: flex;
            flex-direction: column;
            .date{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                p{
                    font-size: 12pt;
                    color: $colorBlue;
                }
            }
            .cntplt{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-around;
                p{
                    font-size: 14pt;
                    color: $colorBlue;
                }
            }
            .pltlst{
                display: flex;
                flex-direction: column;
                width: 100%;
                .plt{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    >p{
                        font-size: 12pt;
                        color: $colorBlue;
                    }
                    .obj{
                        display: flex;
                        flex-direction: row-reverse;
                        border: 1px $colorTosi solid;
                        border-radius: 3px;
                        padding: 3px 6px;
                        .cty{
                            border-left: 1px $colorTosi solid;
                        }
                        .alpha{
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
        img{
            flex: 1;
            border-radius: 10px;
        }

    }
    .detile{
        flex: 1;
    }
}




.plate-input{
    display: flex;
    flex-direction: row-reverse;
    border: 2px $colorTosi solid;
    background: $colorFFF;
    border-radius: 5px;
    width: 260px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    input, select{
        border: 0px;
        &::-webkit-inner-spin-button{
            display: none;
        }
        &::-webkit-outer-spin-button{
            display: none;
        }
        height: 35px;
        margin: 0px 5px;
        font-size: 20pt;
        text-align: center;
        color: #000;
        &::placeholder{
            color: rgba($colorTosi,0.4);
        }
        background: transparent;
        &:focus{
            outline: 0px;
        }
    }
    .blue{
        width: 20px;
        background: #12209b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 7px 0px;
        height: 100%;
        img{
            width: 80%;
        }
        p{
            font-size: 6pt;
            color: $colorFFF;
            text-align: right;
        }
    }
    .idplate{
        width: 40px;
    }
    .alpha{
        width: 45px;
    }
    .serial{
        width: 60px;
    }
    .city{
        width: 40px;
        margin-top: -5px;


    }
    .boxcity{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-left: 1px #000 solid;
        p{
            font-size: 7pt;
            color: #000;
            text-align: center;

        }
    }
    

}



.plate-lincese{
    display: flex;
    flex-direction: row-reverse;
    width: 220px;
    margin: 10px;
    border: 2px $colorTosi solid;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    .blu{
        display: flex;
        flex-direction: column;
        width: 25px;
        background: $colorBlue;
        align-items: center;
        height: 50px;
        justify-content: space-around;

        img{
            width: 70%;
            margin-top: 3px;
        }
        p{
            color: $colorFFF;
        }
    }
    >p{
        font-size: 20pt;
    }
    .city{
        display: flex;
        flex-direction: column;
        border-left: 1px $colorTosi solid;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
        .ir{
            font-size: 8pt;
        }
        .num{
            font-size: 20pt;
            margin-top: -10px;
        }
    }
}


.rules{
    margin: 20px;
}